<table cellspacing="15">
	<tr>
		<th>Descrizione</th>
		<th width="20"></th>
		<th>Ingredienti</th>
		<th width="20"></th>
		<th>Preparazione</th>
	</tr>
	<tr>
		<td>
			[% recipe.description %]
		</td>
		<td></td>
		<td>
			[% FOREACH product IN recipe.uses %]
				<li>
					[% product.product.name %]
				</li>
			[% END %]
		</td>
		<td></td>
		<td>
			[% recipe.preparation %]
		</td>
	</tr>
</table>
