<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript"
    src="http://maps.google.it/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map;
	
  function initialize() {
  	directionsDisplay = new google.maps.DirectionsRenderer();
    var map_center = new google.maps.LatLng([% start %]);
    var myOptions = {
      zoom: 13,
      center: map_center,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    directionsDisplay.setMap(map);
    
  }
  
  function calcRoute() {
  	var start = new google.maps.LatLng([% start %]);
  	var end = new google.maps.LatLng([% end %]);
  	var request = {
  		origin:start,
  		destination:end,
  		travelMode: google.maps.DirectionsTravelMode.DRIVING
  	};
  	directionsService.route(request, function(result, status) {
  		if (status == google.maps.DirectionsStatus.OK) {
  			directionsDisplay.setDirections(result);
  		}
  	});
  }
  
</script>
</head>
<body onload="initialize(), calcRoute()">
	
  <div id="map_canvas" style="width:500px; height:500px"></div>
</body>
</html>