<h2 align="center">Benvenuto</h2>
<p>Per iniziare devi per prima cosa loggarti o registrarti al sito.
<br/>
In questo modo potrai visualizzare il database di prodotti e avere la possibilità di acquistarli. </p>
