<form method="post" action="[% c.uri_for('form_create') %]">
<table cellspacing="15">
	<tr><td>Nome:</td><td><input type="text" name="name"></td></tr>
	<tr><td>Descrizione:</td><td><input type="text" name="description"></td></tr>
	<tr><td>Prezzo (€/Kg):</td><td><input type="text" name="price"></td></tr>
	<tr><td>Scadenza:</td><td><input type="text" name="duration"></td></tr>
	<tr><td><input type="submit" name="Submit" value="Crea"></td></tr>
</table>
</form>
